[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
install = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-allauth = "*"
django-rest-auth = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
